<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Predict Price Range</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Price Range</h1>

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">
      <input type="text" name="battery_power" placeholder="batterypower" required="required" /><br>
    	<input type="text" name="blue" placeholder="blue" required="required" /><br>
        <input type="text" name="clock_speed" placeholder="clockspeed" required="required" /><br>
        <input type="text" name="dual_sim" placeholder="dualsim" required="required" /><br>
        <input type="text" name="fc" placeholder="fc" required="required" /><br>
        <input type="text" name="four_g" placeholder="4g" required="required" /><br>
        <input type="text" name="int_memory" placeholder="intmemory" required="required" /><br>
        <input type="text" name="m_dep" placeholder="mdep" required="required" /><br>
        <input type="text" name="mobile_wt" placeholder="mobilewt" required="required" /><br>
        <input type="text" name="n_cores" placeholder="# cores" required="required" /><br>
        <input type="text" name="pc" placeholder="PC" required="required" /><br>
        <input type="text" name="px_width" placeholder="pxwidth" required="required" /><br>
        <input type="text" name="px_height" placeholder="pxheight" required="required" /><br>        
        <input type="text" name="n_cores" placeholder="#cores" required="required" /><br>
        <input type="text" name="ram" placeholder="ram" required="required" /><br>
        <input type="text" name="Sc_h" placeholder="sch" required="required" /><br>
        <input type="text" name="sc_w" placeholder="scw" required="required" /><br>
        <input type="text" name="talk_time" placeholder="talktime" required="required" /><br>
        <input type="text" name="three_g" placeholder="3g" required="required" /><br>
        <input type="text" name="touch_screen" placeholder="touchscreen" required="required" /><br>
        <input type="text" name="wifi" placeholder="wifi" required="required" /><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   
 </div>
 {{pred}}

</body>
</html>
